@{
  var registrationSuccessful = (bool)ViewData["registrationSuccessfull"];
  var error = (bool)ViewData["error"];
}

@if(registrationSuccessful)
{
  <div class="alert alert-primary" role="alert">
    Thanks for registration!!
  </div>
}

@if(error)
{
  <div class="alert alert-primary" role="alert">
    Something went wrong! Try again with different email
  </div>
}
<div class="container">
  <img src="/images/login.jpg" width="1100" Height ="200" alt="Winnipeg">
</div>
<hr>
<h2 style="text-align:center">New USer Registration</h2>
<p style="text-align:center"> Welcome to Winnipeg Events Website </p>
<hr>




<form action="/auth/register" method="post">
<div class="container" style="background-color:lightblue">
  <br>
  <div class="form-group">
    <input type="text" class="form-control" name="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</div>
</form>